@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: black;
  /* Default background color for mobile */
  /* Other background properties can be commented out or adjusted as needed */
  /* background-image: linear-gradient(to bottom, #FFCB05, #00274C); */
  /* background-attachment: fixed; */
}

/* Media query for desktop devices */
@media (min-width: 768px) {

  /* Adjust this breakpoint as needed */
  body {
    background-color: #3B444B;
    /* Desktop background color */
  }
}

/* This is an optional pseudo-element technique if using background gradients */
/* body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: inherit;
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}